h1 {
    color: #115718;
    margin: 0;
    padding: 20px 0
}


main{
    background: url(./img/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}








footer {
    background-color: #151916;
    color: #569D4E;
    font-size: small;
    font-weight: bold;
}